<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
h3{
  text-align: center;
}

  </style>
</head>
<body>
   <div class="container">
    <h1 id="title">I am a developer</h1>
        <p id="description">This is a form about your projects, skills and solutions.</p>
  <form action="/successful">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="email">Email</label>
    <input type="text" id="email" name="Enter your email address" placeholder="Your email.." required>
    <br>
    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="Brazil">Brazil</option>
      <option value="canada">Canada</option>
      <option value="Ireland">Ireland</option>
      <option value="Japan">Japan</option>
      <option value="UK">United Kingdom</option>
      <option value="usa">USA</option>
      
    </select>

    <form="developer-form">
                    <label id="profession">What is your current role?</label>
                    <select id="dropdown-role" name="current-role">
                        <option value="student" selected>Student</option>
                        <option value="full-time-freelancer">Full time freelancer</option>
                        <option value="full-time-employee">Full time employee</option>
                        <option value="prefer-not-to-say">Prefer not to say</option>
                    </select>
                </fieldset>
                <fieldset id="dropdown-profession" form="survey-form">
    <form="developer-form">
                    <label id="legend-profession">What is language do you use?</label>
                    <select id="dropdown-profession" name="profession-category">
                        <option value="default" disabled selected>Select an option</option>
                        <option value="tech">Java</option>
                        <option value="arts">Javascript</option>
                        <option value="business">Python</option>
                        <option value="science">C++</option>
                        <option value="science">C#</option>
                        <option value="science">HTML and CSS</option>
                        <option value="science">Swift</option>
                    </select>
                </fieldset>
    <fieldset id="dropdown" form="survey-form">

    <label for="email">Your Github page</label>
    <input type="text" id="github" name="Enter your Github link" placeholder="Your Github page link.." required>
    <label for="subject">Let us know yourself and solutions</label>

    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>