<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../img/westmore_logo.jpg" class="d-block w-100" alt="...">
            <div class="container">
                <div class="carousel-caption">
                    <p>Providing the technology or service that you are looking for.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <div class="title">
        <h3 class="section-title">Popular Projects</h3>
        <hr class="title-divider" />
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img src="../img/project1.png" alt="Project" class="rounded-circle" width="140" height="140">

            <h2>Project</h2>
            <p>Some description for the project.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="../img/project2.png" alt="Project" class="rounded-circle" width="140" height="140">

            <h2>Project</h2>
            <p>Some description for the project.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="../img/project3.png" alt="Project" class="rounded-circle" width="140" height="140">

            <h2>Project</h2>
            <p>Some description for the project.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Find a <span class="text-muted">Developer.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            <button type="button" class="btn btn-secondary">Find someone to help you</button>
        </div>
        <div class="col-md-5">
            <img src="../img/developer2.jpg" alt="Developer" class="featurette-image img-fluid mx-auto" width="500" height="500">

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">I am a <span class="text-muted"> Developer.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
            <button type="button" class="btn btn-secondary">Publish your project</button>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="../img/developer1.jpg" alt="Developer" class="featurette-image img-fluid mx-auto" width="500" height="500">

        </div>
    </div>



    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=bOmSXeI8LwrsKl0xS8ouDwdKH8DWs_HaQVHshAos8CCNHWEVv41fSvLL8EpvCzVrvY6qkE9k1Z6odEUqC0Pr6NPFRWS0ZalKjYKViK4-lms" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9nZXRib290c3RyYXAuY29tL2RvY3MvNS4wL2V4YW1wbGVzL2Nhcm91c2VsLw"/>
