<div>
    <div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>Project</h1>
				</div>
				<div class="content">
					
					<p>We are Westmore Solutions. Our aim is to connect businesses and developers.
                    We made hastle easier for both parties. Developers can introduce their solutions 
                    to potential clients. Business owners find technology solutions that fit for their 
                    business through our platform. </p>
					
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section">
				<img src="image/img one.jpg">
			</div>
		</div>
</div>
