<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header">
            You have a new project proposal
        </div>
        <div class="card-body">
            <h5 class="card-title">Check the information and submit to finalize the purchase</h5>
            <p class="card-text">
                <span class="text-muted">Project Name</span> <hr/>
                <span class="text-muted">Payment details:</span> <br/>
                Card: Visa, etc <br/>
                Number: 0000.0000.0000.0000 <br/>
                Holder name: Name <br/>
                Total: $59.00 <br/>
            </p>
            <div>
                <a href="#" class="btn btn-primary">Accept</a>
                <a href="#" class="btn btn-primary">Refuse</a>
            </div>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>